@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* box-sizing: border-box;  */
  /* outline: 1px solid red; */
  font-family: "Be Vietnam Pro", sans-serif;
  /* scroll-behavior: smooth; */
}
:root {
  --bgOrange: #e84949;
}
#wrapper {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow: hidden; */
}
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.dot-item{
  position:absolute;
  width: 100%;
  height: 7rem;
  /* border: 1px solid red; */
  right: 0.5rem;
  top: 0rem;
  background: white;
  display: none;
}
.dot-link{
  display: flex;
  justify-content: space-between;

  gap: 1rem;
  padding: .5rem;

}
.dot-item.active{
  display: block;
}

#cross-icon{
  font-size: 2rem;
}
.dot-link a{
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
.nav-img {
  height: 5rem;

  width: 5rem;
}
.logo {
  width: 100%;
  background-color: white;
}
.logo-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.text {
  margin-left: -1vw;
  font-size: 28px;
}
.nav-items {
  display: flex;
  gap: 2rem;
}
.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.nav-icon i {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
.nav-items div a {
  color: black;
}
.nav-items div:hover {
  transition: 0.8s;
  font-weight: bold;
}
.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1.25rem;
  padding-bottom: 8rem;
}
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.faded-text {
  position: absolute;
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);

  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
}

.hero-section-left {
  /* width:100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.hero-section-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}
.role {
  color: #4e45d5;
  font-weight: 800;
}
.hero-section-sub-heading {
  font-size: 45px;
  line-height: 45px;
}
.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}
.btn-pink {
  background-color: var(--bgOrange);
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}
.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}
.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  border: solid 3px var(--bgOrange);
  color: black;
}

.hero-section-right {
  position: relative;
}

.absolute {
  position: absolute;
}
.userimage {
  padding: 1.5rem;
  filter: grayscale(1);
  width: auto;
  height: auto;
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
}
.user-image img {
  z-index: -1;
  width: 100%;
  height: 100%;
}
@keyframes scaleImage {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }
  50% {
    filter: grayscale(1);
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    filter: grayscale(0);
    transform: scale(1);
  }
}
.icon-dots {
  z-index: 1;
  bottom: -1rem;
  right: 0;
  animation: dotsimage 5s infinite;
}
@keyframes dotsimage {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.icon-cube {
  z-index: 1;
  top: -0.8em;
  right: 1em;
  animation: cubeimage 5s infinite;
}
@keyframes cubeimage {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}
.icon-zigzags {
  z-index: 1;
  top: 1.5em;
  left: -0.3em;
  animation: zigzasimg 5s ease-in infinite;
}
@keyframes zigzasimg {
  50% {
    left: 5%;
    top: 2%;
  }
}
.icon-circle {
  z-index: 1;
  left: 0;
  bottom: 0;
  animation: circleimg 5s linear infinite;
}
@keyframes circleimg {
  50% {
    left: 5%;
    bottom: 10%;
  }
}
.icon-plus {
  z-index: 1;
  top: -0.8rem;
  left: 50%;
  animation: plusimg 5s ease-out infinite;
}
@keyframes plusimg {
  50% {
    top: 3%;
    left: 48%;
  }
}
#project-section {
  margin-top: 4rem;
  background-color: rgb(231, 231, 231);
}
.page-heading {
  text-align: center;
  color: var(--bgOrange);
  font-size: 90px;
  margin: 2rem;
}
.project-container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* padding: 3rem 0; */
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.project-card {
  width: 90%;
  height: 550px;
  background-image: url(/images/projects/Project2.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
}
.project-card::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #1f1f1f9a;
  z-index: 0;
}
.project-card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.4s;
  z-index: 1;
}
.project-card:hover::before {
  transform: scaleX(1);
}
.project-number {
  color: white;
  font-size: 200px;
  font-weight: 600;
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.project-card:hover .project-number {
  opacity: 1;
}
.project-number-right {
  right: -40px;
  top: -45px;
}
.project-number-left {
  left: -40px;
  top: -45px;
}
.project-content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  gap: 2rem;
  bottom: 20%;
  z-index: 5;
  transition: all 0.4s;
}
.project-content-left {
  left: 10%;
}
.project-content-right {
  right: 10%;
}
.project-skills-container {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.project-skill {
  width: 40px;
}
.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}
.project-subHeading {
  width: 70%;
  font-size: 16px;
  font-style: italic;
}
.btn-grp {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.btn-project:hover {
  border: none;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}
.icon:hover {
  color: var(--bgOrange);
}
.project-card:hover .project-content {
  transform: scale(1.1);
}
#project1 {
  background-image: url(./images/projects/Project1.png);
}

#project2 {
  margin-left: 120px;
  background-image: url(./images/projects/Project2.png);
}
#project3 {
  background-image: url(./images/projects/Project3.png);
}
#project4 {
  margin-left: 120px;
  background-image: url(./images/projects/Project4.png);
}
@media (max-width: 1300px) {
  .page-header {
    padding-top: 30px;
    color: var(--bgOrange);
    text-align: center;
    font-size: 40px;
  }
  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }
  .project-card {
    width: 100%;
    height: 300px;
  }
  .project-card {
    background-size: cover;
    background-position: center;
  }
  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project-content-left {
    left: 0;
  }
  .project-heading {
    font-size: 40px;
    width: 100%;
  }
  .project-sub-heading {
    width: 100%;
  }
  #project2 {
    margin-left: 0;
  }
  #project4 {
    margin-left: 0;
  }
  .project-skill-container {
    width: 100%;
  }
  .project-skill {
    width: 35px;
  }
  .project-card:hover .project-number {
    opacity:1;
  }
  .project-card:hover .project-content {
    scale: 0.55;
  }
}
.skill-container {
  position: relative;
  display: flex;
  padding: 5rem;
  gap: 30px;
  margin: 10rem auto;
}
.skill-container-left {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
}
.skill-container-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
  justify-content: center;
}
.skill-fade-text {
  position: absolute;
  font-size: 15em;
  font-style: bold;
  color: rgb(231, 231, 231);
  bottom: -34.5%;
  right: -25%;
  user-select: none;
  overflow-y: hidden;
}
.blob-style {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -5;
  transform: translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
}
/* mediaquries */
/* @media(max-width:600px)
{
  .hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-items{
    display: none;
  }
  .hero-section{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
  }
  .hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .hero-section-heading{
    font-size: 50px;
    
  }


} */

@keyframes blobAnimate {
  50% {
    top: 54%;
    left: 46%;
  }
}
.skills-logo {
  width: 90px;
  transition: all 0.5s;
}
.skills-logo:hover {
  transform: scale(1.2);
}
.skill-heading {
  color: var(--bgOrange);
  font-size: 50px;
  font-style: bold;
  line-height: 50px;
  margin: 0px;
}
.caps {
  font-size: 90px;
}
.skill-subheading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}
.skill-subheading p {
  margin: 15px 0;
}
.contactus-form-container {
  width: 100%;
  background-color: rgb(231, 231, 231);
}
.contactus-heading {
  color: var(--bgOrange);
  font-size: 5em;
}
.contactus-subheading {
  color: #343d68aa;
  font-size: 3rem;
  text-transform: capitalize;
  margin: 10px;
}
.contactus-form-container2 {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}
.formfield-container {
  width: 100%;
}
.formfield {
  width: 100%;
  height: 42px;
  padding: 1.5rem 2rem;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  border: none;
  margin-top: 27px;
}
.formfield-textarea {
  height: auto;
}
#submit-btn {
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;
}
#submit-btn:hover {
  transform: scale(0.9);
}
.submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
}
footer {
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.2rem;
  align-items: center;
}
.footer-faded-text {
  font-size: 5em;
  position: absolute;
  user-select: none;
  left: 0;
  bottom: 0;
  color: #535c87;
}
.footer-link {
  display: flex;
  gap: 1.2rem;
}
.footer-link div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}
.footer-link div a:hover {
  color: var(--bgOrange);
}
.icon-wrapper {
  display: flex;
  gap: 1rem;
}
